In [3]:
import requests
import pandas as pd
import json

def getDataFromApi(date_min,date_max,body):
  #create URL
  URL = "https://ssd-api.jpl.nasa.gov/cad.api?" + "date-min=" + date_min + "&date-max=" + date_max + "&body=" + body
  print("Fetch data from: " + URL)

  #send request and turn into text
  response = requests.get(URL).text

  #parse response json into dictionary
  dictionary = json.loads(response) 

  #if has values
  print("number of values: " + dictionary["count"])

  if dictionary["count"] != "0":
    #create dataset
    completeData = [dictionary["fields"]] + dictionary["data"]

    #return dataset as dataframe
    return pd.DataFrame.from_dict(completeData)
  return -1;

dataFrame = getDataFromApi('2000-01-01','2010-01-01','Earth')

Fetch data from: https://ssd-api.jpl.nasa.gov/cad.api?date-min=2000-01-01&date-max=2010-01-01&body=Earth
number of values: 2244

In [4]:
dataFrame

,0,1,2,3,4,5,6,7,8,9,10
0,des,orbit_id,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h
1,2019 AX5,13,2451552.281483720,2000-Jan-08 18:45,0.0476285376083108,0.0471831099533576,0.0480755717498712,9.91326791256937,9.90762306872234,00:17,26.0
2,2000 AG6,12,2451552.592214946,2000-Jan-09 02:13,0.0132857510671263,0.0132641303902126,0.0133073708230386,5.56507983001682,5.52892486912425,< 00:01,25.3
3,2000 AA6,32,2451558.889538703,2000-Jan-15 09:21,0.039437601648173,0.0394372860820703,0.0394379172143184,14.8701803999254,14.8656362569629,< 00:01,22.1
4,2010 AE30,21,2451561.057757310,2000-Jan-17 13:23,0.0322371331015195,0.0322367255973116,0.0322375406330972,12.1645003297146,12.1577038658861,< 00:01,23.6
...,...,...,...,...,...,...,...,...,...,...,...
2240,2010 AH3,9,2455192.372334064,2009-Dec-26 20:56,0.0111015957757845,0.0109963892543464,0.01120677882422,7.37526447862142,7.34264998290139,00:45,26.3
2241,2019 AG7,12,2455192.582128842,2009-Dec-27 01:58,0.0210723433266005,0.0194375664603537,0.0227157505318114,6.472120283418,6.45255392907935,1_20:56,25.5
2242,2010 AR1,12,2455193.820403859,2009-Dec-28 07:41,0.0113900780153114,0.0113459913833354,0.0114341605631375,6.28931234468997,6.25200688196384,00:04,25.8
2243,2009 XL8,11,2455194.571133692,2009-Dec-29 01:42,0.0383944304750309,0.0383925463220499,0.0383963146357728,16.6057816482753,16.6016020026343,< 00:01,22.6
2244,2011 YD29,6,2455196.230988495,2009-Dec-30 17:33,0.0154349447871849,0.0153837716752545,0.0174327000460342,6.59758190020418,6.57136470453245,2_11:21,26.3